
#simulate-wrapper {
  position: relative;
  top: 100px;
}

.results-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  font-size: 13px;
}


.playoff-results {
  font-size: 16px;
}
