#simulate-wrapper {
  position: relative;
  top: 100px;
}

/* Styling for division standings */
.standings-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

/* align conferences */
.conference-standings-wrapper {
  display: flex;
  flex-direction: row;
}

.standings-division-wrapper {
  display: flex;
  flex-direction: column;
}

.division-team-element {
  border-radius: 6px;
  color: white;
  height: 55px;
  width: 240px;
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  font-family: 'SF Pro';
}

.division-team-name {
  font-size: 18px;
  font-family: "SF Pro";
}

.division-team-record {
  font-size: 20px;
  margin-left: auto;
  margin-bottom: 0px;
}

/* Styling for playoff picture */
#playoff-picture-title {
  text-align: center;
  font-size: 24px;
  margin: 14px;
}

.playoff-wrap {
  display: flex;
  flex-direction: row;
  width: 75%;
  gap: 18px;
  margin: auto;
  padding: 30px;
  border-radius: 18px;
  background: white;
}

.playoff-conference-wrapper {
  width: 50%;
  padding: 10px;
}

.playoff-conference-name {
  font-size: 34px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 1%;
  font-family: 'SF Pro';
}

.playoff-team-element {
  border-radius: 6px;
  color: white;
  height: 70px;
  width: auto;
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}

.playoff-team-rank {
  position: relative;
  bottom: 10%;
  font-size: 28px; 
  font-weight: bold;
  font-family: 'SF Pro';
}

.playoff-team-name {
  position: relative;
  left: 3%;
  bottom: 10%;
  font-size: 28px;
  font-family: 'SF Pro';
}

.playoff-team-record-info {
  position: relative;
  top: 56%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 0px;
}

.playoff-team-record {
  font-size: 20px;
  margin-left: auto;
  margin-bottom: 0px;
}

.playoff-team-division {
  font-size: 10px;
}
